// Platform
SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 12.0
SWIFT_VERSION = 5.1

// Build flags
ENABLE_BITCODE = NO
OTHER_LDFLAGS = -ObjC
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_MODULE_DEBUGGING = NO
CLANG_ENABLE_OBJC_ARC = YES
GCC_NO_COMMON_BLOCKS = YES
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)

// Symbol Stripping
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = debugging
STRIP_SWIFT_SYMBOLS = YES

// Warnings
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

// Swift 3.2 and later warnings
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES;
CLANG_WARN_COMMA = YES;
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES;
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES;
CLANG_WARN_STRICT_PROTOTYPES = YES;
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES;

GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_SHADOW = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES

ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_COMPILATION_MODE = Incremental
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_PREPROCESSOR_DEFINITIONS = TESTING=1
OTHER_SWIFT_FLAGS = -DTESTING
MTL_ENABLE_DEBUG_INFO = YES
DEBUG_INFORMATION_FORMAT = dwarf

// For frameworks that do not have a 'Testing' configuration, we search Release
// We re-declare the carthage dir path because you can't append to variables defined earlier in the xcconfig file
FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(CARTHAGE_DIR)/Build/iOS
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// This fixes an issue where breakpoints don't seem to be working
DEPLOYMENT_POSTPROCESSING=NO
